body {
    background-color: #000000;
    color: white;font-family: sans-serif;
}

.main-box {
    width: 60%;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    color: #ffd700;
    text-transform: uppercase;
}

.section {
    background-color: #222;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.section h2 {
    color: tomato;
    text-transform: uppercase;
}

.section p {
    color: #cccccc;
    font-size: 18px;
}

.footer {
    text-align: center;
    color: gray;
    padding: 20px;
}